<?xml version="1.0" encoding="UTF-8"?>
<global_settings>

    <!--- STARTSEITE -->
    <site_name>Stocherkahn XY e.V.</site_name>
    <site_footer_name>Stocherkahn Medizin e.V.</site_footer_name>
    <display_big_footer>false</display_big_footer>
    <big_footer_left_column_html>
        <![CDATA[
        <h5 class="white-text">Wichtige Links</h5>
        <ul>
        <li><a class="white-text" href="#!">Impressum</a></li>
        <li><a class="white-text" href="#!">Datenschutz</a></li>
        <li><a class="white-text" href="#!">Fachschaft Medizin</a></li>
        </ul>]]>
    </big_footer_left_column_html>

    <big_footer_right_column_html>
        <![CDATA[
        <h5 class="white-text">Über uns...</h5>
        <p class="grey-text text-lighten-4">Ne coole Truppe die Spaß am Kahnfahren hat:)</p>
    ]]>
    </big_footer_right_column_html>

    <!--- GENERAL -->
    <max_items_row_container>4</max_items_row_container>
    <max_size_file_upload>500000</max_size_file_upload>

    <!--- VERLEIH -->
    <earliest_begin>8</earliest_begin>
    <latest_begin>22</latest_begin>
    <von-montag>8</von-montag>
    <von-dienstag>8</von-dienstag>
    <von-mittwoch>8</von-mittwoch>
    <von-donnerstag>8</von-donnerstag>
    <von-freitag>8</von-freitag>
    <von-samstag>8</von-samstag>
    <von-sonntag>8</von-sonntag>
    <bis-montag>22</bis-montag>
    <bis-dienstag>22</bis-dienstag>
    <bis-mittwoch>22</bis-mittwoch>
    <bis-donnerstag>22</bis-donnerstag>
    <bis-freitag>22</bis-freitag>
    <bis-samstag>22</bis-samstag>
    <bis-sonntag>22</bis-sonntag>
    <max-kosten-einer-reservierung>200</max-kosten-einer-reservierung>
    <max-dauer-einer-reservierung>6</max-dauer-einer-reservierung>
    <dauer-uebergabe-minuten>15</dauer-uebergabe-minuten>
    <uebernahmefunktion-globel-aktiv>true</uebernahmefunktion-globel-aktiv>

    <!--PAYMENT-->
    <paypal-aktiv>false</paypal-aktiv>

    <!--- COLORS -->
    <site_menue_color>white</site_menue_color>
    <site_footer_color>green</site_footer_color>
    <site_buttons_color>blue</site_buttons_color>
    <site_error_buttons_color>red</site_error_buttons_color>
    <farbe-button-kalender-buchbar>green</farbe-button-kalender-buchbar>
    <farbe-button-kalender-nicht-buchbar>red</farbe-button-kalender-nicht-buchbar>
    <farbe-button-kalender-reserviert>yellow</farbe-button-kalender-reserviert>

    <!--- INFOs FOR USERS -->
    <titelinfo-reservierung-hinzufuegen><![CDATA[
        <p class='center-align'>Um deine Reservierung einzugeben, scrolle einfach ganz nach unten und trage dein gew&uuml;nschtes Zeitfenster ein:)<br>Vorher kannst du im Kalender noch einmal nachschauen ob das Zeitfenster noch frei ist.</p>
    ]]></titelinfo-reservierung-hinzufuegen>
    <inhalt-dokumente-und-nuetzliches><![CDATA[
        <p><a href='./mietvertrag.php'><i class='tiny material-icons'>description</i> Mietvertrag</a></p>
        <p><a href='./datenschutz.php'><i class='tiny material-icons'>description</i> Datenschutzerkl&auml;rung</a></p>
        <p><a href='./anleitung.php'><i class='tiny material-icons'>info</i> Anleitung zum Festmachen des Kahns</a></p>
    ]]></inhalt-dokumente-und-nuetzliches>
    <html-faq-user-hauptansicht><![CDATA[ <div class='section'>
    <h5>Schlechtes Wetter</h5>
    <p>Pech mit dem Wetter bedeutet bei uns nicht, dass dein Geld futsch ist. Solltest du bevor deine Fahrt offiziell los geht bemerken, dass das mit dem Wetter nix wird, kannst du ganz einfach im Buchungssystem deine Reservierung stornieren. Hast du rechtzeitig storniert, bekommst dann einfach das Geld zur&uuml;ck:) <a href='kontakt.php'>Melde dich</a> dazu einfach bei uns um daf&uuml;r ein Termin auszumachen.</p>
    <p>Nachdem deine Fahrt begonnen hat, gilt diese Regelung leider nicht mehr und dein Anspruch auf Erstattung verf&auml;llt.</p>
    <p>Bitte denke trotzdem immer daran deinen Schl&uuml;ssel m&ouml;glichst bald zu unserem <a href='anleitung.php'>R&uuml;ckgabekasten</a> zu bringen, da wir ihn wieder f&uuml;r andere Reservierungen ben&ouml;tigen:)</p>
    </div>
    <div class='section'>
    <h5>Grillen an Bord</h5>
    <p>Wir stecken in unseren Kahn viel Arbeit und hatten leider in den letzten Jahren &ouml;fters schlechte Erfahrungen mit Gruppen die gegrillt und nicht aufgepasst haben. Daher erkennt das ge&uuml;bte Auge auch die eine oder andere Brandspur am Kahn. Daher k&ouml;nnen wir es euch leider nicht mehr erlauben auf dem Kahn zu grillen:/</p>
    </div>]]></html-faq-user-hauptansicht>

</global_settings>